<div class="card bg-light">
    <article class="card-body mx-auto" style="max-width: 400px;">
        <h4 class="card-title mt-3 text-center">Create Account</h4>
        <form>
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                </div>
                <input name="cName" class="form-control" [(ngModel)]="this._customer.name" placeholder="First name" type="text">
            </div>
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                </div>
                <input name="lastName"  [(ngModel)]="this._customer.lastName" class="form-control" placeholder="Last name" type="text">
            </div> <!-- form-group// -->
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                </div>
                <input name="email" [(ngModel)]="this._customer.email" class="form-control" placeholder="Email address" type="email">
            </div><!-- form-group// -->
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
                </div>
                <select class="custom-select" name="operator" [(ngModel)]="this._customer.operator" style="max-width: 120px;">
                    <option value="kolbi" selected="kolbi">Kolbi</option>
                    <option value="movistar">Movistar</option>
                    <option value="claro">Claro</option>
                </select>
                <input name="phone" class="form-control" name="phone" [(ngModel)]="this._customer.phone"  placeholder="Phone number" type="text">
            </div> <!--form-group// -->
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-flag"></i> </span>
                </div>
                <select class="form-control" #countrySelect (change)='onCountryChanged(countrySelect.value)'>
                    <option selected="">Select your country</option>
                    <option *ngFor="let c of data">{{ c.name  }}</option>
                </select>
            </div> <!-- form-group end.// -->
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                </div>
                <input class="form-control" name="password" [(ngModel)]="this._customer.password" placeholder="Create password" type="password">
            </div> <!-- form-group// -->
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                </div>
                <input class="form-control" placeholder="Repeat password" type="password">
            </div> <!-- form-group// -->
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block" (click)="createAccount()"> Create Account </button>
            </div> <!-- form-group// -->
            <p class="text-center">Have an account? <a href="login">Log In</a> </p>
        </form>
    </article>
</div> <!-- card.// -->